{% extends "layout.twig" %}

{% set title = case.title %}

{% block page %}

    <section>
        <h1>{{ case.title }}</h1>
        <h2>
            {#{% if case.roles|length > 1 %}#}
                {#Roles:#}
            {#{% else %}#}
                {#Role:#}
            {#{% endif %}#}

            {% for role in case.roles %}
                {{ role }}{% if not loop.last %} & {% endif %}
            {% endfor %}
        </h2>

        <p class="lead">
            {{ case.lead }}
        </p>

        {% if case.story %}
            <a href="#story-nav" class="btn btn-primary btn-margin">More about this case</a>
        {% endif %}

        {% if case.url %}
            <a href="{{ case.url }}" class="btn btn-primary btn-margin" target="_blank">{{ case.btn_text }}</a>
        {% endif %}
    </section>


    <div class="slider">
        <div class="slider-control slider-previous previous">
            <img src="/assets/img/chevron-left.svg" alt="Previous image">
        </div>
        <div class="slider-base">
            <div class="slider-content {{ case.type }}">
                {% for image in case.images %}
                    <img src="/{{ case.base }}{{ image.filename }}{{ image.extension }}" srcset="/{{ case.base }}{{ image.filename }}{{ image.extension }} 1x, /{{ case.base }}{{ image.filename }}@2x{{ image.extension }} 2x">
                {% endfor %}
            </div>
            <div class="slider-indicator-wrapper">

            </div>
        </div>
        <div class="slider-control slider-next next">
            <img src="/assets/img/chevron-right.svg" alt="Next image">
        </div>
    </div>

    {% if case.story %}

        <div class="story-nav-wrapper" id="story-nav">
            <section>
                <nav class="story-nav">
                    <ul>
                        {% for chapter in case.chapters %}
                            <li><a href="#{{ chapter.title|lower|replace({' ': '-'}) }}">{{ chapter.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if case.url %}
                        <div>
                            <a href="{{ case.url }}" class="btn btn-primary">{{ case.btn_text }}</a>
                        </div>
                    {% endif %}
                </nav>
            </section>

            <div class="scroll-indicator"></div>
        </div>

        <div class="story" id="story">
            <section>
                {% for chapter in case.chapters %}

                    <div class="chapter" id="{{ chapter.title|lower|replace({' ': '-'})  }}">
                        <h5>{{ chapter.title }}</h5>

                        {% for paragraph in chapter.paragraphs %}
                            <p>{{ paragraph }}</p>
                        {% endfor %}

                        {% if chapter.media.type == "normal" %}
                            <div class="media">
                                {% for image in chapter.media.images %}
                                    <div>
                                        <img class="photoswipe-img" src="/{{ case.base }}{{ image.filename }}{{ image.extension }}" srcset="/{{ case.base }}{{ image.filename }}{{ image.extension }} 1x, /{{ case.base }}{{ image.filename }}@2x{{ image.extension }} 2x">
                                    </div>
                                {% endfor %}
                            </div>
                        {% elseif chapter.media.type == "dribbble" %}

                            {% for image in chapter.media.images %}
                                <a href="/{{ image.url }}" class="dribbble-img" target="_blank">
                                    <img src="/{{ case.base }}{{ image.filename }}{{ image.extension }}" srcset="/{{ case.base }}{{ image.filename }}{{ image.extension }} 1x, /{{ case.base }}{{ image.filename }}@2x{{ image.extension }} 2x">
                                    <div class="img-overlay dribbble-overlay"></div>
                                </a>
                            {% endfor %}
                        {% endif %}

                    </div>

                {% endfor %}
            </section>
        </div>

    {% endif %}

    {% include "case-nav.twig" %}

{% endblock %}