<section>
    <div class="case-nav">
        {% for item in cases %}
            {% if item.id == case.id - 1 %}
                <a href="/{{ item.slug }}" class="case-nav-control case-nav-previous"><img src="/assets/img/chevron-left-small.svg" alt="Previous case: {{ item.title }}">{{ item.title }}</a>
            {% endif %}
            {% if item.id == case.id + 1 %}
                <a href="/{{ item.slug }}" class="case-nav-control case-nav-next"> {{ item.title }}<img src="/assets/img/chevron-right-small.svg" alt="Next case: {{ item.title }}"></a>
            {% endif %}
        {% endfor %}
    </div>
</section>