{# footer.twig #}
<footer>
    <section>
        <div class="email">
            <a href="mailto:overbeekjelle@gmail.com">overbeekjelle@gmail.com</a>
        </div>

        <div class="social">
            <a href="//dribbble.com/jelleoverbeek" class="dribbble">
                <img src="/assets/img/dribbble.svg">
            </a>
            <a href="//twitter.com/jelleoverbeek" class="twitter">
                <img src="/assets/img/twitter.svg">
            </a>
            <a href="//www.linkedin.com/in/jelle-overbeek-a595b246/" class="linkedin">
                <img src="/assets/img/linkedin.svg">
            </a>
        </div>
    </section>
</footer>