{# header.twig #}
<header>
    <section>
        <nav>
            <ul>
                {% for item in nav %}
                    {% if title == item.title %}
                        <li class="active"><a href="/{{ item.url }}">{{ item.title }}</a></li>
                    {% else %}
                        <li><a href="/{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </section>
</header>
