<div class="timeline">

    {% for key, item in timeline|reverse %}
        <div class="timeline-part {% if key is odd %}odd{% endif %}">

            <div class="timeline-meta">
                <span class="timeline-date">{{ item.date }}</span>
                <p>{{ item.text }}</p>
            </div>

            <div class="timeline-icon">
                <img src="/assets/img/{{ item.icon }}">
            </div>

            <div class="timeline-blank"></div>
        </div>

        {% if not loop.last %}
            <div class="timeline-seperator"></div>
        {% endif %}

    {% endfor %}

    {#<div class="timeline-seperator-long"></div>#}
    {#<a href="/contact" class="timeline-btn">Internship at ... your company?</a>#}

</div>