button, input[type="submit"], .btn {
    display: inline-block;
    padding: rem(10) rem(25);
    text-align: center;
    border: none;
    white-space: nowrap;

    @media screen and (max-width: $mobile) {
        display: block;
        width: 100%;
        padding: rem(13) rem(25);
    }
}

.btn-primary {
    border-radius: 3px;
    background-color: $primaryColor;
    box-shadow: 0 2px 4px 0 rgba(49,49,49,0.18), 0 2px 15px 0 rgba(0,0,0,0.0);

    @include primaryMedium();
    text-decoration: none;
    font-size: em(18);
    color: #FFFFFF;

    @include transition();

    &:hover {
        color: #ffffff;
        background-color: darken($primaryColor, 6%);
        box-shadow: 0 2px 15px 0 rgba(49,49,49,0.25), 0 2px 15px 0 rgba(0,0,0,0.0);
    }

    &:active {
        background-color: darken($primaryColor, 8%);
        box-shadow: 0 2px 3px 0 rgba(49,49,49,0.25), 0 2px 15px 0 rgba(0,0,0,0.0);
    }
}

.btn-margin {
    margin: rem(30) rem(15) 0 0;

    @media screen and (max-width: $mobile) {
        margin: rem(20) rem(10) 0 0;
    }
}