$primaryColor: #5784FF;

$txtDarkGray: #313131;
$txtLightGray: #6F7E89;
$txtMain: #6F7E89;

$silver: #D9E0E6;

$borderColor: $silver;
$linkColor: $primaryColor;
$grayBg: #FAFBFC;

$twitter: #1DA1F2;
$dribbble: #EA4C89;
$linkedin: #0077B5;