//@font-face {
//    font-family: '';
//    src: url('../fonts/');
//    font-weight: ;
//}

$primary: "Roboto", sans-serif;

@mixin primaryRegular() {
    font-family: $primary;
    font-weight: 400;
}

@mixin primaryMedium() {
    font-family: $primary;
    font-weight: 500;
}