ul {
    &.horizontal {
        display: flex;

        &.center {
            justify-content: center;
        }

        li {
            margin-right: rem(15);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}