@mixin transition($time: 0.1s) {
    -webkit-transition: ease-in-out all $time;
    -moz-transition: ease-in-out all $time;
    -ms-transition: ease-in-out all $time;
    -o-transition: ease-in-out all $time;
    transition: ease-in-out all $time;
}

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}