h1 {
    font-size: em(38);
    color: $txtDarkGray;
    @include primaryMedium();

    @media screen and (max-width: $mobile) {
        font-size: em(32);
    }
}

h2 {
    font-size: em(24);
    color: $txtLightGray;
    @include primaryRegular();
    margin-top: rem(15);
    margin-bottom: rem(15);

    @media screen and (max-width: $mobile) {
        font-size: em(20);
        line-height: rem(24);
    }
}


h3 {
    font-size: em(32);
    color: lighten($txtDarkGray, 1%);
    font-weight: 500;

    @media screen and (max-width: $tabletLandscape) {
        font-size: em(26);
    }
}

h4 {
    font-size: em(22);
    color: $txtLightGray;
    @include primaryRegular();

    line-height: rem(20);
    margin-top: rem(8);

    @media screen and (max-width: $tabletLandscape) {
        font-size: em(16);
        line-height: rem(20);
    }
}

h5 {
    @include primaryRegular();
    font-size: em(24);
    color: $txtDarkGray;
}

p {
    @include primaryRegular();
    font-size: em(16);
    line-height: rem(30);
    color: $txtMain;

    max-width: rem(675);
    margin-top: rem(10);

    &.lead {
        @include primaryRegular();
        font-size: em(20);
        line-height: rem(32);
        max-width: rem(800);
        margin-top: rem(35);
        color: $txtDarkGray;

        @media screen and (max-width: $mobile) {
            font-size: em(18);
            line-height: rem(28);
            margin-top: rem(25);
        }
    }

    &.big {
        font-size: em(20);
        line-height: rem(34);
        max-width: rem(725);
        color: $txtDarkGray;

        @media screen and (max-width: $tabletPortrait) {
            font-size: em(18);
            line-height: em(28);
        }
    }
}

b, strong {
    @include primaryMedium();
    color: $txtDarkGray;
}