// Portfolio 2017 by Jelle Overbeek

@import "library/reset";

@import "library/colors";
@import "library/fonts";
@import "library/mixins";
@import "library/z-indices";
@import "library/screen-sizes";

* {
	box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    @include primaryRegular();
    font-size: 1em;
    color: $txtMain;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    margin: rem(120) 0 rem(88) 0;
    padding-bottom: rem(70);

    @media screen and (max-width: $mobile) {
        margin: rem(100) 0 0 0;
        padding-bottom: 0;
    }
}

section {
    max-width: rem(1024);
    margin: 0 auto;

    img {
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: $tabletLandscape) {
        margin: 0 rem(24);
    }

    @media screen and (max-width: $tabletPortrait) {
        margin: 0 rem(32);
    }
}

hr {
    border: 0;
    height: rem(35);

    @media screen and (max-width: $mobile) {
        height: rem(20);
    }
}

.margin-top-30 {
    margin-top: rem(30);
}

.flex-left-right {
    display: flex;
    align-content: flex-end;

    & > *:first-child {
        margin-right: auto;
    }

    @media screen and (max-width: $tabletPortrait) {
        flex-direction: column;
    }
}

.mobile-only {
    @media screen and (min-width: $mobile) {
        display: none;
    }
}

.tablet-potrait-only {
    @media screen and (min-width: $tabletPortrait) {
        display: none;
    }
}

@import "library/text";
@import "library/lists";
@import "library/links";
@import "library/buttons";
@import "library/forms";

@import "components/header";
@import "components/footer";
@import "components/media";
@import "components/article";
@import "components/case";
@import "components/slider";
@import "components/case-nav";
@import "components/about-me";
@import "components/timeline";