.about-me {
    margin-top: rem(30);
    
    .avatar {
        text-align: center;
        margin: 0 rem(30);

        @media screen and (max-width: $tabletPortrait) {
            margin: rem(30);
            img {
                width: rem(150);
            }
        }
    }

    @media screen and (max-width: $tabletPortrait) {
        flex-direction: column-reverse;
    }
}