article {
    display: flex;
    justify-content: flex-start;
    padding: rem(40) 0;
    box-shadow: 0 2px 35px 0 rgba(216, 223, 229, 0.0);
    border-radius: 3px;
    border-bottom: 1px solid $silver;

    @include transition(0.1s);

    &:last-child {
        border-bottom: none;
    }

    .meta {
        padding-left: rem(48);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: $tabletLandscape) {
            padding-left: rem(32);
        }

        @media screen and (max-width: $tabletPortrait) {
            padding-left: rem(0);
            padding-top: rem(32)
        }
    }

    h3 {
        color: $linkColor;

        @include transition();

        &:hover {
            color: darken($linkColor, 10%);
        }
    }

    .media {
        width: rem(453);
        justify-content: center;
        max-width: 100%;

        div {
            margin: 0;
        }

        img {
            border-radius: 3px;
            margin-top: 0;

            @media screen and (max-width: $mobile) {
                max-width: 100%;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: $tabletPortrait) {
        flex-direction: column;
    }

    @media screen and (max-width: $tabletPortrait) {
        padding: rem(32) 0;
        margin-bottom: 0;

        &:hover {
            box-shadow: none;

            h3 {
                color: darken($linkColor, 6%);
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .work {
        a:first-child article {
            padding-top: 0;
        }

        a:last-child article {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}