.case-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(70);
}

.case-nav-control {
    display: flex;
    align-items: center;
}

.case-nav-previous {
    img {
        margin-right: rem(20);
    }
}

.case-nav-next {
    margin-left: auto;
    img {
        margin-left: rem(20);
    }
}
