.story-nav-wrapper {
    background-color: #ffffff;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;

    z-index: $story-nav;

    overflow-x: auto;
    height: rem(60);

    @media screen and (max-width: $mobile) {
        padding-right: rem(60);

        section {
            max-width: none;
            width: 100%;
        }
    }
}

.scroll-indicator {
    height: rem(60);
    width: rem(100);
    background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,1) 100%);
    position: fixed;
    right: 0;
    top: 0;
    pointer-events: none;
    display: none;

    @media screen and (max-width: $mobile) {
        display: block;
    }
}

.embed {
    display: flex;
    justify-content: center;
    padding: rem(50) 0;
}

.story-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        font-size: em(18);

        li a {
            margin-right: rem(30);
            padding: rem(20) 0;
            display: inline-block;
            border-bottom: 2px solid transparent;
            color: #7C7C7C;
            white-space: nowrap;

            @include transition();

            &:hover {
                //border-bottom: 2px solid $primaryColor;
                color: darken($linkColor, 6%);
            }

            &.active {
                border-bottom: 2px solid $linkColor;
                color: $linkColor;
            }
        }
    }
}

.story {
    background-color: $grayBg;
    padding: rem(50) 0;

    .media {
        div {
            margin-top: rem(25);
        }
    }
}

.chapter {
    padding-bottom: rem(45);

    &:last-child {
        margin-bottom: 0;
    }
}