footer {
    background-color: $grayBg;
    padding: rem(30) 0;
    height: rem(88);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
            justify-content: center;
        }
    }

    .email a {
        color: $txtMain;
        &:hover {
            color: $linkColor;
        }
    }

    @media screen and (max-width: $mobile) {
        height: auto;
        padding: rem(50) 0;

        position: relative;
        margin-top: rem(70);
    }
}

.social {
    a {
        margin-left: rem(20);
        opacity: 0.7;

        @include transition();

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $mobile) {
        margin-top: rem(30);
    }
}
