header {
    border-bottom: 1px solid $borderColor;
    height: rem(61);
    line-height: rem(61);
    margin-bottom: rem(75);
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(216,223,229,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $header;

    nav {
        ul {
            display: flex;
            li {
                font-size: em(18);
                margin-right: rem(25);

                &:last-child {
                    margin: 0;
                }

                a {
                    white-space: nowrap;
                    @include primaryRegular();

                    &:hover {
                        color: darken($linkColor, 10%);
                    }
                }

                &.active {
                    a {
                        color: $txtDarkGray;
                    }
                }
            }
        }
    }
}