.dribbble-img {
    position: relative;
    display: inline-block;
    margin-top: rem(20);
    text-align: center;
    border: 1px solid $borderColor;
    border-radius: rem(2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.11);
    padding: rem(30);
    background: #fff;
    
    @include transition(0.2s);

    .dribbble-overlay {
        background-image: url("../img/dribbble-color.svg");
        background-size: 44px 44px;
    }

    &:hover {
        border-color: $dribbble;

        .dribbble-overlay {
            opacity: 1;
        }
    }
}

.media {
    display: flex;

    div {
        padding-right: rem(25);

        @media screen and (max-width: $tabletPortrait) {
            margin: rem(25) 0 0 0;
        }

        @media screen and (max-width: $mobile) {
            padding: 0;
            text-align: center;
        }
    }

    img {
        width: auto;
        cursor: pointer;
        //max-height: rem(150);

        border: 1px solid $borderColor;
        border-radius: rem(2);
        box-shadow: 0 1px 3px 0 $silver, 0 1px 15px 0 rgba(0,0,0,0);

        @include transition(0.2s);

        &:hover {
            box-shadow: 0 1px 15px 0 $silver, 0 1px 15px 0 rgba(0,0,0,0);
        }

        @media screen and (max-width: $mobile) {
            max-width: 100%;
            max-height: none;
        }
    }

    @media screen and (max-width: $mobile) {
        flex-direction: column;

        &.photoswipe-mobile {
            flex-direction: row;

            div {
                padding: rem(15);
            }
        }
    }
}

.img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgba(255,255,255,0.9);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    opacity: 0;

    @include transition(0.2s);
}