.slider {
    display: flex;
    justify-content: center;
    margin: rem(70) 0;
    
    .slider-content {
        margin: 0;

        img {
            box-shadow: 0 2px 35px 0 rgba(0,0,0,0.11);
            border-radius: 3px;
            max-width: 1024px;
            width: 100%;

            @media screen and (max-width: $mobile) {
                box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);
            }
        }

        @media screen and (max-width: $tabletLandscape) {
            //margin: 0 rem(32);
        }

        &.case-mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            max-width: 375px;
            width: 100%;

            figure {
                //width: 30%;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    .slider-control {
        display: flex;
        flex-direction: column;
        padding: rem(64);
        text-align: center;
        cursor: pointer;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

        img {
            position: sticky;
            top: 50%;
        }

        &.disabled {
            opacity: 0.3;
            cursor: default;
        }

        @media screen and (max-width: $tabletLandscape) {
            padding: 0;
        }

        @media screen and (max-width: $tabletPortrait) {
            display: none;
        }
    }

    .slider-indicator-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: rem(40);
    }

    .slider-indicator {
        width: rem(14);
        height: rem(14);
        margin-left: rem(12);
        border-radius: 50%;
        border: 2px solid $borderColor;

        &.active {
            background-color: $txtMain;
            border: none;
        }

        &:first-child {
            margin: 0;
        }
    }

    @media screen and (max-width: $tabletLandscape) {
        margin: rem(70) rem(20);
    }


    @media screen and (max-width: $mobile) {
        margin: rem(30) rem(20);
    }
}