.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: rem(70) 0;
}

.timeline-part {
    display: flex;
    justify-content: center;
    align-items: center;

    .timeline-meta {
        order: 1;
        text-align: right;
    }

    .timeline-icon {
        order: 2;
    }

    .timeline-blank {
        order: 3;
    }

    &.odd {
        .timeline-meta {
            order: 3;
            text-align: left;
        }

        .timeline-blank {
            order: 1;
        }
    }

    @media screen and (max-width: $tabletPortrait) {
        flex-direction: column;

        .timeline-icon {
            order: 1;
        }

        .timeline-meta {
            order: 2;
            text-align: center;
            margin: rem(15);
        }

        &.odd .timeline-meta {
            text-align: center;
        }

        .timeline-blank {
            display: none;
        }
    }
}

.timeline-blank {
    width: rem(300);
}

.timeline-seperator {
    width: 2px;
    background-color: $borderColor;
    height: rem(50);
}

.timeline-seperator-long {
    width: 2px;
    background-color: $borderColor;
    background-image: linear-gradient(-180deg, $borderColor 0%, $linkColor 100%);
    height: rem(120);
}

.timeline-meta {
    width: rem(300);

    @media screen and (max-width: $tabletPortrait) {
        width: auto;
        max-width: rem(300);
    }

    p {
        margin-top: rem(5);
        font-size: em(16);
        line-height: rem(20);
        color: $txtDarkGray;
    }
}

.timeline-date {
    @include primaryMedium();
    font-size: em(14);
}

.timeline-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 rem(20);
    width: rem(84);
    height: rem(84);
    border-radius: 50%;
    border: 2px solid $borderColor;
}

.timeline-btn {
    height: rem(84);
    line-height: rem(80);
    padding: 0 rem(30);
    border: 2px solid $linkColor;
    border-radius: rem(42);
    @include primaryMedium();

    @media screen and (max-width: $tabletPortrait) {
        padding: 0 rem(20);
    }
}