{# about-me.twig #}
{% extends "components/layout.twig" %}
{% set title = 'Contact' %}

{% block page %}
    <section>
        <h1>Contact</h1>
        <p class="big margin-top-30">
            You can contact me by <a href="mailto:overbeekjelle@gmail.com">email</a> (<a class="clipboard" data-clipboard-text="overbeekjelle@gmail.com">copy to clipboard</a>), and <a href="//twitter.com/jelleoverbeek">Twitter</a>.
        </p>
    </section>
{% endblock %}