{# index.twig #}
{% extends "components/layout.twig" %}
{% set title = 'Home' %}

{% block page %}
    <section>
        <h1>Hi! <img src="/assets/img/wavinghand.png" srcset="/assets/img/wavinghand.png 1x, /assets/img/wavinghand@2x.png 2x"></h1>

        <div class="flex-left-right about-me">
            <div>
                <p class="big">
                    I’m Jelle Overbeek, a designer and front-end developer from the Netherlands. Currently I’m working for <a href="//recognize.nl" target="_blank">Recognize</a> and studying Communication and Multimedia Design at the Amsterdam University of Applied Sciences.
                </p>

                <a href="/work" class="btn btn-primary btn-margin">My work</a>
            </div>

            <div class="avatar">
                <img src="/assets/img/avatar.png" srcset="/assets/img/avatar.png 1x, /assets/img/avatar@2x.png 2x">
            </div>
        </div>

        {% include "components/timeline.twig" %}
    </section>
{% endblock %}