{# index.twig #}
{% extends "components/layout.twig" %}
{% set title = 'Work' %}

{% block page %}
    <section class="work">
        <h1>Work</h1>
        {% for case in cases %}

            <article>

                <div class="media">
                    <div>
                        <a href="/{{ case.slug }}" title="{{ case.title }}">
                            <img src="/{{ case.base }}{{ case.featured_image.filename }}-thumb{{ case.featured_image.extension }}"
                                 srcset="/{{ case.base }}{{ case.featured_image.filename }}-thumb{{ case.featured_image.extension }} 1x, /{{ case.base }}{{ case.featured_image.filename }}-thumb@2x{{ case.featured_image.extension }} 2x">
                        </a>
                    </div>
                </div>

                <div class="meta">
                    <a href="/{{ case.slug }}" title="{{ case.title }}">
                        <h3>{{ case.title }}</h3>
                    </a>
                    <h4>
                        {#{% if case.roles|length > 1 %}#}
                        {#Roles:#}
                        {#{% else %}#}
                        {#Role:#}
                        {#{% endif %}#}

                        {% for role in case.roles %}
                            {{ role }}{% if not loop.last %} & {% endif %}
                        {% endfor %}
                    </h4>
                </div>

            </article>
        {% endfor %}
    </section>

{% endblock %}

